/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26/11/2017, 17:09:16
    Author     : fernando
*/
#container{
    width: 700px;
    height: 400px;
    left: 150px;
    top: 50px;
    background-color: #eeeeee;
    position: relative;
}
#plataforma{
    width: 100px;
    height: 20px;
    background: #006666;
    top: 90%;
    right: 40%;
    position: absolute;
}

#bola{
    background: #112222;
    width: 30px;
    height: 30px;
    left: 350px;
    top: 330px;
    position: absolute;
}

.bloco{
    width: 70px;
    height: 20px;
    position: absolute;
}